<div class="p-form">
  <div>
    <h2>就職試験受験報告書</h2>
    <div>
      <p>提出日</p>
      <p>2017/07/22</p>
      <table>
        <tr class="p-form__block">
          <td rowspan="2">会社名</td>
          <td>ふりがな： かぶしきがいしゃひろしま</td>
        </tr>
        <tr class="p-form__block">
          <td>株式会社hiroshima
            <td>所在地</td>
            <td>広島県 東広島市</td>
          </tr>
          <tr class="p-form__block">
            <td>受験日時</td>
            <td>
              2017/0721 10:00 から 11:30 まで
            </td>
          </tr>
          <tr class="p-form__block">
            <td>受験者数</td>
            <td>男子</td>
            <td>3</td>
            <td>女子</td>
            <td>3</td>
            <td>全体</td>
            <td>6</td>
            <td>試験結果</td>
            <td>
              <p>2017/07/23</p>
              <input type="checkbox" name="" value="1" checked="checked" disabled="disabled">
              <p>学校宛</p>
              <input type="checkbox" name="" value="2" checked="checked" disabled="disabled">
              <p>本人宛</p>
            </td>
          </tr>
          <tr class="p-form__block">
            <td>職種</td>
            <td>システムエンジニア</td>
            <td>業種</td>
            <td>IT</td>
          </tr>
          <tr class="p-form__block">
            <td>応募方法</td>
            <td>
              <dl class="">
                <dt>
                  <input type="checkbox" name="" value="" checked="checked" disabled="disabled">
                  <p>学校求人</p>
                </dt>
                <dt>
                  求人No. 34
                </dt>
              </dl>
              <input type="checkbox" name="" value="" disabled="disabled">
              <p>自己開拓</p>
              <input type="checkbox" name="" value="" disabled="disabled">
              <p>縁故</p>
              <dl class="">
                <dt>
                  <input type="checkbox" name="" value="" disabled="disabled">
                  <p>その他:</p>
                </dt>
                <dt></dt>
              </dl>
            </td>
          </tr>
        </table>
      </div>
      <div class="">
        <table>
          <tr class="p-form__block">
            <td>一次試験</td>
            <td>面接試験</td>
            <td>有</td>
          </tr>
          <tr class="p-form__block">
            <td>
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled">
              <p>個人面接</p>
              <dl class="">
                <dt><input type="checkbox" name="" value="" disabled="disabled">グループ</dt>
                <dt>人</dt>
              </dl>
              <td>時間(分)</td>
              <td>60</td>
              <td>面接官(人)</td>
              <td>3</td>
              <input type="checkbox" name="" value="" disabled="disabled">
              ディスカッション形式
              <dl class="">
                <dt>
                  <input type="checkbox" name="" value="" disabled="disabled">
                  <p>ディベート形式</p>
                </dt>
                <dt>テーマ</dt>
              </dl>
            </td>
          </tr>
          <tr class="p-form__block">
            <td>質問の内容</td>
            <td>質問に関する回答</td>
          </tr>
          <tr class="p-form__block">
            <td>1.志望動機</td>
            <td>広島だから</td>
          </tr>
          <tr class="p-form__block">
            <td>2.自己PR</td>
            <td>テスト</td>
          </tr>
          <tr class="p-form__block">
            <td>3.希望職種</td>
            <td>
              システムエンジニア
            </td>
          </tr>
          <tr class="p-form__block">
            <td>4.専門学校を選んだ理由</td>
            <td>
              テストテスト
            </td>
          </tr>
          <tr class="p-form__block">
            <td>5.取得資格について</td>
            <td>
              サンプル
            </td>
          </tr>
          <tr class="p-form__block">
            <td>6.</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>7.</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>8.</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>9.</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>10.</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="">
        <table>
          <tr class="p-form__block">
            <td>筆記試験</td>
            <td>
              有
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              一般常識・SPI・時事問題
            </td>
            <td>
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled">
              記述式
              <input type="checkbox" name="" value="" disabled="disabled">
              選択式
              <td>
                試験時間(分)
              </td>
              <td>
                10
              </td>
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              国語
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              適正検査
            </td>
            <td>
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled">
              性格
              <input type="checkbox" name="" value="" disabled="disabled">
              YG
              <input type="checkbox" name="" value="" disabled="disabled">
              クレペリン
              <dl class="">
                <dt>
                  <input type="checkbox" name="" value="" disabled="disabled">
                </dt>
                <dt>
                  その他:
                </dt>
              </dl>
              <td>
                検査時間(分)
              </td>
              <td>
                10
              </td>
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              いろいろ
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              専門
            </td>
            <td>
              <input type="checkbox" name="" value="" disabled="disabled">
              コンピュータ
              <input type="checkbox" name="" value="" disabled="disabled">
              デザイン
              <dl class="">
                <dt>
                  <input type="checkbox" name="" value="" disabled="disabled">
                </dt>
                <dt>
                  その他:
                </dt>
              </dl>
              試験時間(分)
            </td>
          </tr>
          <tr class="p-form__block">
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>
              作文(論文)
            </td>
            <td>
              テーマ:<input type="text" name="" value="">
            </td>
            <td>
              制限時間(分)<input type="number" name="" value="">
            </td>
          </tr>
          <tr class="p-form__block">
            <td></td>
          </tr>
          <tr class="p-form__block">
            <td>
              <dl class="">
                <input type="checkbox" name="" value="" disabled="disabled">
                原稿用紙
                <dt>
                  <input type="checkbox" name="" value="" disabled="disabled">
                  他の用紙 枚 字以内
                </dt>
              </dl>
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              感想及び今後の受験者へのアドバイス
            </td>
          </tr>
          <tr class="p-form__block">
            <td>
              頑張るンゴ
            </td>
          </tr>
          <tr class="p-form__block">
            学校・学科・コース
          </tr>
          <tr class="p-form__block">
            <td>
              <input type="checkbox" name="" value="" checked="checked" disabled="disabled">
              HC
              <input type="checkbox" name="" value="" disabled="disabled">
              JB
              <input type="checkbox" name="" value="" disabled="disabled">
              公務員 性別:
              <td>
                男
              </td>
              <td>
                <td>
                  情報科
                </td>
                <td>
                  システムエンジニアコース
                </td>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
