<!-- 報告書 -->
    <div>
      <p>提出日</p>
      <p>2017/07/19</p>
      <table>
        <tr>
          <td>欠席</td>
          <td>
            2017/07/21～
          </td>
          <td>公欠申請</td>
          <td>〇</td>
        </tr>
        <tr>
          <td>欠席以外</td>
          <td></td>
        </tr>
        <tr>
          <td>時限</td>
          <td>区別</td>
          <td>科目名</td>
          <td>担当講師</td>
        </tr>
        <tr>
          <td>1</td>
          <td>
            公欠
          </td>
          <td>
            システム開発
          </td>
          <td>細島先生</td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            公欠
          </td>
          <td>
            システム開発
          </td>
          <td>細島先生</td>
        </tr>
        <tr>
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>6</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>7</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="4">事由</td>
          <td rowspan="2">就職関係</td>
          <td>会社名</td>
          <td>株式会社hiroshima</td>
          <td>目的</td>
          <td>一次面接</td>
          <tr>
            <td>場所・時間</td>
            <td>
              株式会社hiroshima本社
            </td>
            <td>
              2017/07/21～
            </td>
          </tr>
          <tr>
            <td>その他:</td>
            <td>
              テストデータ
            </td>
          </tr>
        </tr>
      </table>
    </div>
