<div class="">
  <fieldset>
    <legend>企業訪問・企業説明会 報告書</legend>
    <p>
      提出日
    </p>
    <input type="date">
    <table>
      <tr>
        <td>訪問先</td>
        <td><input type="text" name="" value=""></td>
        <td>本社所在地</td>
        <td>
          <select id="geoapi-prefectures" name="geoapi-prefectures">
            <option value="都道府県を選択してください">都道府県を選択してください</option>
          </select>
          <select id="geoapi-cities" name="geoapi-cities">
            <option value="市区町村名を選択してください">市区町村名を選択してください</option>
          </select>
          <select id="geoapi-towns" name="geoapi-towns">
            <option value="町域を選択してください">町域を選択してください</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>会場</td>
        <td>
          <input type="checkbox" name="" value="1">本社所在地 その他:<input type="text" name="" value="">
        </td>
      </tr>
      <tr>
        <td>日時</td>
        <td>
          <input type="checkbox" name="" value="">訪問
          <input type="checkbox" name="" value="">説明会
          <input type="date" name="" value="">
          <input type="time" name="" value="">から
          <input type="time" name="" value="">まで
        </td>
      </tr>
      <tr>
        <td>学校</td>
        <td>
          <select name="">
            <option value="">情報</option>
            <option value="">ゲーム</option>
            <option value="">デザイン</option>
            <option value="">音響</option>
          </select>科
          <select name="">
            <option value="001">システムエンジニア</option>
            <option value="002">ネットワーク</option>
            <option value="003">ゲームクリエイター</option>
            <option value="004">プログラム専攻</option>
            <option value="005">Webデザイン</option>
            <option value="006">音響A</option>
            <option value="007">音響B</option>
          </select>コース
        </td>
        <td>
          <input type="date" name="" value="">
          <input type="radio" name="sotugyou" value="">卒業<input type="radio" name="sotugyou" value="">卒業見込み
        </td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><input type="text" name="" value=""></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><input type="text" name="" value=""></td>
        <td>
          <input type="radio" name="性別" value="1" checked="checked"/>
          <p>男</p>
        </td>
        <td>
          <input type="radio" name="性別" value="2"/>
          <p>女</p>
        </td>
      </tr>
      <tr>
        <td>学籍番号</td>
        <td><input type="text" name="" value=""></td>
      </tr>
      <tr>
        <td>生年月日</td>
        <td><input type="date" name="" value=""></td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          感想（説明事項・質問事項についても記入） 面談者役職<input type="text" name="" value="">
          氏名<input type="text" name="" value="">
        </td>
      </tr>
      <td>
        <textarea name="Impressions" rows="8" cols="80"></textarea>
      </td>
      <tr>
        <td>受験希望</td>
        <td>
          <input type="radio" name="hope" value="" checked>希望する
          <input type="radio" name="hope" value="">希望しない
          <input type="radio" name="hope" value="">検討中
        </td>
      </tr>
    </table>
  </fieldset>
</div>
