<main class="l-main">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <%= link_to "トップページ", {:controller => "teacher_pages", :action => "index"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <p class="c-pankuzu__text">報告書提出ページ</p>
    </div>
  </div>
  <div class="p-content">
    <div class="p-content__main">
      <h1 class="p-content__title">Student</h1>
      <div class="">
        <p>学科/クラス</p>
        <select name="">
          <option value="0001">情報</option>
          <option value="0002">ゲーム</option>
          <option value="0003">デザイン</option>
          <option value="0004">音響</option>
        </select>
        <p>科</p>
        <select name="">
          <option value="001">システムエンジニア</option>
          <option value="002">ネットワーク</option>
          <option value="003">ゲームクリエイター</option>
          <option value="004">プログラム専攻</option>
          <option value="005">Webデザイン</option>
          <option value="006">音響A</option>
          <option value="007">音響B</option>
        </select>
        <p>コース</p>
        <select name="">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <p>年</p>
        <select name="">
          <option value="a">A</option>
          <option value="b">B</option>
          <option value="c">C</option>
          <option value="d">D</option>
          <option value="e">E</option>
          <option value="f">F</option>
          <option value="g">G</option>
          <option value="h">H</option>
        </select>
        <p>組</p>
      </div>
      <p>学籍番号</p>
      <input type="text" name="" value="">
      <p>氏名</p>
      <input type="text" name="" value="">
    </div>
    <%= render 'student_pages/job' %>
    <%= render 'student_pages/visit' %>
    <%= render 'student_pages/notice' %>
  </div>
</main>
