<div class=" c-modal js-modal">
    <div class="c-modal__box p-content">
      <div class="c-modal__btn js-switch">
        
      </div>
      <div class="p-content__main">
        <table class="p-schedule">
          <tr class="p-schedule__line p-schedule__line--header">
            <div id="aaaa">
            <th></th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
          </div>
          </tr>

          <!--  時間割の動的設定  -->
          <% @timetables.each do |t|%>
            <tr class="p-schedule__line">
              <td class="p-schedule__text"><%=t['tt_dayofweek']%></td>
              <% t['subject'].each do |sub_name|%>
              <td class="p-schedule__text"><%=sub_name%></td>
              <%end%>
            </tr>
          <% end %>
          <!--  ここまで  -->

          <!-- <tr class="p-schedule__line">
            <td class="p-schedule__text">1</td>
            <td class="p-schedule__text">プログラム応用</td>
            <td class="p-schedule__text">システム構築</td>
            <td class="p-schedule__text">職業指導</td>
            <td class="p-schedule__text">システム構築</td>
            <td class="p-schedule__text">システム開発</td>
          </tr>
          <tr class="p-schedule__line">
            <td class="p-schedule__text">2</td>
            <td class="p-schedule__text">プログラム応用</td>
            <td class="p-schedule__text">システム構築</td>
            <td class="p-schedule__text">職業指導</td>
            <td class="p-schedule__text">システム構築</td>
            <td class="p-schedule__text">システム開発</td>
          </tr>
          <tr  class="p-schedule__line">
            <td class="p-schedule__text">3</td>
            <td class="p-schedule__text">資格対策</td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text">Webプログラミング</td>
            <td class="p-schedule__text">資格対策</td>
            <td class="p-schedule__text"></td>
          </tr>
          <tr  class="p-schedule__line">
            <td class="p-schedule__text">4</td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text">Webプログラミング</td>
            <td class="p-schedule__text">資格対策</td>
            <td class="p-schedule__text"></td>
          </tr>
          <tr  class="p-schedule__line">
            <td class="p-schedule__text">5</td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text"></td>
            <td class="p-schedule__text"></td>
          </tr> -->
        </table>
      </div>
    </div>
    <div class="c-modal__bg js-switch"></div>
  </div>
