<div class="p-form">
  <h2 class="p-form__title">企業訪問・企業説明会 報告書</h2>
  <%= form_tag '/briefing', method: 'post', multipart: true, class: "p-form__box" do %>
  <div class="p-document__student-block">
    <p class="p-document__list-title">学籍番号</p>
    <input type="text" id="stuId" name="stuId" value="" class="p-document__list-input" required="required">
    <p class="p-document__list-title">氏名</p>
    <input type="text" id="stuName" name="stuName" value="" class="p-document__list-input" required="required">
  </div>
  <div class="p-form__block p-form__block--centering">
    <p class="p-form__text">提出日</p>
    <input type="date" id="f-Vdate" name="date" class="p-form__input">
  </div>
  <table id="table-visit" class="p-form__main">
    <tbody class="p-form__container">
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">訪問先</td>
        <td class="p-form__item">
          <input type="text" class="p-form__input" name="company_name" value="" placeholder="会社名">
        </td>
        <td class="p-form__item p-form__text">会場</td>
        <td class="p-form__item">
          <input type="text" class="p-form__input" name="location" value="" placeholder="本社、〇〇支社など">
        </td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">
          <!-- 面談者役職 -->
        </td>
        <!-- <td class="p-form__item">
          <input type="text" class="p-form__input" name="" value="">
        </td> -->
        <td class="p-form__item p-form__text">
          面談者氏名
        </td>
        <td class="p-form__item">
          <input type="text" class="p-form__input" name="emp_name" value="">
        </td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">
          感想（説明事項・質問事項についても記入）
        </td>
        <td class="p-form__item">
          <textarea name="Impressions" rows="8" cols="80" class="p-form__textarea"></textarea>
        </td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">受験希望</td>
        <td class="p-form__item">
          <input type="radio" id="e-take" name="exam" value="0" checked="checked" onclick="activText('e-take')">
          <label for="e-take" class="p-form__text">する</label>
          <input type="radio" id="e-not" name="exam" value="1" onclick="activText('e-not')">
          <label for="e-not" class="p-form__text">しない</label>
          <input type="radio" id="e-cons" name="exam" value="2" onclick="activText('e-cons')">
          <label for="e-cons" class="p-form__text">検討中</label>
        </td>
      </tr>
      <tr class="p-form__block">
        <td class="p-form__item p-form__text">希望理由</td>
        <td class="p-form__item">
          <textarea id="reason" name="reason" rows="8" cols="80" class="p-form__textarea"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="submit" name="visit-send" value="送信" onclick="visitSend()" class="c-submit">
  <% end %>
</div>
