<%
  stu_id = $student.email.split('@')[0]
  uriRET_SUBJECT_DETAIL = IP_ADDR + 'students/' + stu_id + '/0001?accessToken=fdaf'

  uri = URI.parse(uriRET_SUBJECT_DETAIL)
  json = Net::HTTP.get(uri)
  results_subject_detail = JSON.parse(json)
  logger.debug(results_subject_detail)

%>
  <div class="">
    <p>出席状況詳細</p>
    <table class="table table-bordered">
      <tr>
        <td>システム構築</td>
        <td>15/60</td>
        <td>25%</td>
      </tr>
    </table>
    <table class="table table-bordered">
      <% results_subject_detail.each do |result|%>
      <tr>
        <td><%= result['att_date']%></td>
        <td>
        <!--  出席区分の数字を実際の出席区分（”出席”）に紐づけする-->
        <%
            num = result['att_attend']
            logger.debug(num)
            dayofweek = ''
            if num == '1'
              dayofweek = '出席'
            elsif num == '2'
              dayofweek = '遅刻'
            elsif num == '3'
              dayofweek = '早退'
            elsif num == '4'
              dayofweek = '公欠'
            elsif num == '5'
              dayofweek = '欠席'
            end
            logger.debug(dayofweek)
        %>
        <%= dayofweek%>
        </td>
      </tr>
      <% end %>
      <!-- <tr>
        <td>2017/07/03</td>
        <td>遅刻</td>
      </tr>
      <tr>
        <td>2017/07/04</td>
        <td>出席</td>
      </tr>
      <tr>
        <td>2017/07/04</td>
        <td>公欠</td>
      </tr>
      <tr>
        <td>2017/07/05</td>
        <td>出席</td>
      </tr>
      <tr>
        <td>2017/07/06</td>
        <td>出席</td>
      </tr> -->
    </table>
  </div>
