<main class="l-main">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <%= link_to "トップページ", {:controller => "student_pages", :action => "index"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <p class="c-pankuzu__text">報告書提出ページ</p>
    </div>
  </div>
  <div class="p-content">
    <div class="p-content__main">
      <h1 class="p-content__title">報告書提出</h1>
      <form name="form" class="p-document">
        <div class="p-document__student-box">
          <!-- <div class="p-document__student-block">
            <p class="p-document__list-title">学科/クラス</p>
            <div class="p-document__list">
              <select name="department" class="p-document__student-select js-hierSelect" data-child="#child" required="required">
                <option value="" class="p-document__student-option">--学科を選択--</option>
                <option value="001" class="p-document__student-option">情報管理</option>
                <option value="002" class="p-document__student-option">ゲーム</option>
                <option value="003" class="p-document__student-option">デザイン</option>
                <option value="004" class="p-document__student-option">音響</option>
              </select>
              <p class="p-document__select-value">科</p>
            </div>
            <div class="p-document__list" id="child">
              <select name="course" class="p-document__student-select" required="required">
                <option value="" data-parent="" class="p-document__student-option">--コースを選択--</option>
                <option value="001" data-parent="001" class="p-document__student-option">システムエンジニア</option>
                <option value="002" data-parent="001" class="p-document__student-option">ネットワーク</option>
                <option value="003" data-parent="002" class="p-document__student-option">ゲームクリエイター</option>
                <option value="004" data-parent="001" class="p-document__student-option">プログラム専攻</option>
                <option value="005" data-parent="001" class="p-document__student-option">Webデザイン</option>
                <option value="006" data-parent="004" class="p-document__student-option">音響A</option>
                <option value="007" data-parent="004" class="p-document__student-option">音響B</option>
              </select>
              <p class="p-document__select-value">コース</p>
            </div>
            <div class="p-document__list">
              <select name="grade" class="p-document__student-select" required="required">
                <option value="1" class="p-document__student-option">1</option>
                <option value="2" class="p-document__student-option">2</option>
                <option value="3" class="p-document__student-option">3</option>
              </select>
              <p class="p-document__select-value">年</p>
            </div>
            <div class="p-document__list">
              <select name="group" class="p-document__student-select" required="required">
                <option value="a" class="p-document__student-option">A</option>
                <option value="b" class="p-document__student-option">B</option>
                <option value="c" class="p-document__student-option">C</option>
                <option value="d" class="p-document__student-option">D</option>
                <option value="e" class="p-document__student-option">E</option>
                <option value="f" class="p-document__student-option">F</option>
                <option value="g" class="p-document__student-option">G</option>
                <option value="h" class="p-document__student-option">H</option>
              </select>
              <p class="p-document__select-value">組</p>
            </div>
          </div> -->
          <!-- 
          <div class="p-document__student-block">
            <p class="p-document__list-title">学籍番号</p>
            <input type="text" id="stuId" name="stuId" value="" class="p-document__list-input" required="required">
            <p class="p-document__list-title">氏名</p>
            <input type="text" id="stuName" name="stuName" value="" class="p-document__list-input" required="required">
          </div>

          -->
        </div>
        <div class="p-document__container js-document__tab">
          <ul id="js-tab-menu" class="p-document__switch js-document__switch">
            <li class="p-document__tab-list active">
              <a href="#tab1" class="p-document__tab-link">届書</a>
            </li>
            <li class="p-document__tab-list">
              <a href="#tab2" class="p-document__tab-link">受験</a>
            </li>
            <li class="p-document__tab-list">
              <a href="#tab3" class="p-document__tab-link">説明会・訪問</a>
            </li>
          </ul>
          <div id="tab-box" class="p-document__tab-box js-document__box">
            <div id="tab1" class="p-document__box is-active">
              <%= render 'student_pages/notice' %>
            </div>
            <div id="tab2" class="p-document__box">
              <%= render 'student_pages/job' %>
            </div>
            <div id="tab3" class="p-document__box">
              <%= render 'student_pages/visit' %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
