<header class="l-header">
  <!-- <a href="http://ostraca.network.hsc.ac.jp" class="l-header__title"> -->
  <div class="l-header__title"><div>
  </a>
  <div class="l-header__menu">

  </div>
</header>
