<main class="l-main" id="js-admin">
  <div class="c-pankuzu">
    <div class="c-pankuzu__block">
      <%= link_to "トップページ", {:controller => "teacher_pages", :action => "index"},
      { :class => "c-pankuzu__link"} %>
      <p class="c-pankuzu__space">></p>
      <p class="c-pankuzu__text">CSVダウンロード</p>
    </div>
  </div>
  <style>

  </style>
  <div class="p-content">
    <div class="p-content__main">
      <h1 class="p-content__title">CSVダウンロード</h1>
      <div class="p-admin">
        <div class="p-admin__main">
          <%= form_tag("/csv_download", method:"get", class: 'p-admin__form') do %>
          <!-- <%= text_field_tag :text1, '', { :size => 25 } %> -->
          <div class="p-admin__block">
            <p class="p-admin__title">1.クラス選択</p>
            <div class="p-admin__select-block">
              <div class="p-admin__select">
                <p class="p-admin__text">学年</p>
                <select name="admin_subject" onclick="retsubject()" class="c-dropdown">
                  <option value="1" class="c-dropdown__item">1</option>
                  <option value="2" class="c-dropdown__item">2</option>
                  <option value="3" class="c-dropdown__item">3</option>
                </select>
              </div>
              <div class="p-admin__select">
                <p class="p-admin__text">クラス</p>
                <select name="admin_classes" class="c-dropdown" onclick="retsubject()">
                  <option value="A" class="c-dropdown__item">A</option>
                  <option value="B" class="c-dropdown__item">B</option>
                  <option value="Cgr" class="c-dropdown__item">Cgr</option>
                  <option value="Cpg" class="c-dropdown__item">Cpg</option>
                  <option value="D" class="c-dropdown__item">D</option>
                  <option value="E" class="c-dropdown__item">E</option>
                  <option value="Fgcg" class="c-dropdown__item">Fgcg</option>
                  <option value="Fill" class="c-dropdown__item">Fill</option>
                  <option value="Fweb" class="c-dropdown__item">Fweb</option>
                  <option value="Gokg" class="c-dropdown__item">Gokg</option>
                  <option value="Gokg2" class="c-dropdown__item">Gokg2</option>
                  <option value="HartB" class="c-dropdown__item">HartB</option>
                  <option value="HartD" class="c-dropdown__item">HartD</option>
                  <option value="HartG" class="c-dropdown__item">HartG</option>
                  <option value="Hogs" class="c-dropdown__item">Hogs</option>
                  <option value="Hvoc" class="c-dropdown__item">Hvoc</option>
                </select>
              </div>
            </div>
            <p class="p-admin__title">2.科目選択</p>
            <div class="p-admin__select-block">
              <div id="select_box_subject">
              <select class=c-dropdown></select>
              </div>
            </div>
            <!-- <p class="p-admin__text">
              科目ID
              <%= select_tag :subject, options_for_select(["0001:システム構築", "0002:システム開発"])%>
            </p> -->
          </div>
          <div class="p-admin__block">

          <!--■■■■■ 日付選択をオサレにするくだり ■■■■■-->
            <p class="p-admin__title">3.日付選択</p>
            <div class="p-admin__select-block">
              <div class="labela">
                開始日時
                <label class="mylabel">
                  <div id="input"><input type="date" name="sDay"></div>
                </label>
              </div>
              <div class="label-margin">
              ~
              </div>
              <div class="labelb">
                終了日時
                <label class="mylabel">
                  <div id="input"><input type="date" name="eDay"></div>
                </label>
              </div>
            </div>
              <!--■■■■■ここまで 日付選択をオサレにするくだり ■■■■■-->
          </div>

          <input type="submit" name="submit" value="表示" class="c-submit">
          <%end %>
        </div>
      </div>
    </div>
  </div>

</main>
